* {
  padding: 0;
  margin:0;
  font-family:'Overpass', sans-serif;
  background-color:  hsl(216, 12%, 8%)
}
.container {
  border-radius: 16px;
  padding: 35px;
  max-width: 280px;
  max-height: 750px;
  background-color: hsl(216, 12%, 8%)
}

.container__text{
  h2{
      color: $color-orange;
      font-size: 40px;
  }
  h1{
      color: $font-color-submit;
      font-size: $font-size-h1;
  }
  p{
      color: $font-color-p;
      font-size: $font-size-p;
  }
}

.container__note {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;

  div {
      color: ;
      width: 50px;
      height: 50px ;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-content: center; 
      margin: 4px;
      padding: 0px;

  }

}
