@import url('https://fonts.googleapis.com/css2?family=Overpass:ital@1&display=swap');

//Variables
$Primary-color: hsl(25, 97%, 53%);
$white-color: hsl(0, 0%, 100%);
$Light-grey-button: hsl(217, 12%, 63%);
$Medium-Grey: hsl(216, 12%, 54%);
$Dark-Blue: hsl(213, 19%, 18%);
$Very-Dark-Blue: hsl(216, 12%, 8%);
$font-size-p: 17px;

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin:0;
    font-family:'Overpass', sans-serif;
    background-color: $Very-Dark-Blue;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 16px;
    margin: 2px; 
    padding: 25px;
    width: 24rem;
    max-height: 450px;
    background: linear-gradient(to bottom, hsl(213, 19%, 18%), #20272f, #1c2027, hsl(216, 12%, 8%), #171a1f);;

    .container__text{
   
    text-align: left;

    section {
        align-content: space-between;
        width: 50px;
        height: 50px ;
        display: flex;
        justify-content: center;
        align-items: center; 
        margin: 2px;
        background-color: $Dark-Blue;
        border: $Very-Dark-Blue;
        border-radius: 50%;
        
    }

    h1{
        color: $white-color;
        font-size: 30px;
    }
    p{
        text-align: justify;
        justify-content: center;
        color: $Medium-Grey;
        font-size: $font-size-p;
    }
}

.container__note {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    
    .no-active { 
        width: 50px;
        height: 50px ;
        display: flex;
        justify-content: center;
        align-items: center; 
        margin: 2px;
        background-color: $Dark-Blue;
        border-radius: 50%;
        color: $Light-grey-button;
    }
    .no-active:hover {
        background-color: $Primary-color;
        color: $white-color;
    }
    .active {
        width: 50px;
        height: 50px ;
        display: flex;
        justify-content: center;
        align-items: center; 
        margin: 2px;
        background-color: $Primary-color;
        border-radius: 50%;
        color: $white-color;
    }
    
}
.container__button {
   justify-content: center;
   display: flex;
     

button {
    outline: none;
    margin: 5px;
    padding: 8px;
    width: 350px;
    height: auto;
    background-color: $Primary-color;
    color: $white-color;
    border-radius: 20px;  
}

}

div {
    margin: 2px;
    color: $white-color;
    font-size: 20px;
    text-align: center;
}
}

//THANKS-CARD STYLES

.container-thanks {

    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 16px;
    margin: 2px; 
    padding: 25px;
    max-width: 22rem;
    max-height: 450px;
    font-family:'Overpass', sans-serif;
    background: linear-gradient(to bottom, hsl(213, 19%, 18%), #20272f, #1c2027, hsl(216, 12%, 8%), #171a1f);;

    .container__img {
        flex-direction: column;
        display: flex;
        width: 75%;
        margin: 0 auto;

    img {
        width: 65%;
        margin: 0 auto;
        }

     p {
        border-radius: 20px;
        padding: 5px 0;
        text-align: center;
        font-size: 14px;
        color: $Primary-color;
        opacity: 0.6;
        background-color: $Dark-Blue;  
     }   
    }
    .text {
        color: $Light-grey-button;
       text-align: center;

       h2 {
        color: $white-color;
       }
       p{
        font-size: 14px;
       }
    }

}









